.center {
    display: flex;
    min-height: 100vh;
}

.left {
    width: 50vw;
    position: relative;
}

.right {
    width: 50vw;
}

.right img {
    float:right;
    margin-right: 285px;
}

.delete-pokemon-form h1{
    border-bottom: 1px solid var(--fonts-color-dark);
    text-align: center;

    font-family: 'Poppins', sans-serif;
    font-size: 1.75rem;
    font-weight: 600;
    
    padding: 0 0 20px 0;
    margin-top: 15px;
}

.delete-pokemon-form {
    font-family: 'Poppins', sans-serif;
    height: 280px;
    width: 400px;
    
    top: 50%;
    left: 50%;
    
    position: absolute;
    transform: translate(-50%, -50%);
    
    border-radius: 10px;
    padding: 0 40px;

    background: #FFFAFA;
    color: #222224;

    margin-top: -55px;
    margin-left: 30px;
}

.buttons a {
    color: var(--fonts-color-light);

    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
    text-align: center;

    
    margin-left: 6px;
    margin-top: 40px;
    margin-bottom: -70px;

    border-radius: 10px;
    cursor: pointer;
}

.buttons {
    display: flex;
    justify-content: center;
}

.delete-button {
    background-color: var(--secondary-color);
    padding: 20px 50px;
}

.back-button {
    background-color: #297383;
    padding: 20px 50px;
}

.delete-pokemon-form form {
    margin: 30px 0;
}

@media only screen and (max-width: 768px) {
    .delete-pokemon-form {
        width: auto;
        height: 260px;
        min-width: 380px;

        margin-left: 180px;
        margin-right: 50px;

    }
} 

@media only screen and (max-width: 600px) {
    .delete-pokemon-form {
        width: 350px;
        height: 260px;

        margin-left: 150px;
        padding: 0 15px;

    }

    .delete-pokemon-form h1 {
        font-size: 1.6rem;
    }
}

@media only screen and (max-width: 450px) {
    .delete-pokemon-form {
        width: 250px;
        height: 260px;
        min-width: 340px;
        
        margin-left: 92px;
        margin-top: -170px;
        
        font-size: 0.9rem;
    }
}