body {
    font-family: 'Mukta', sans-serif;
}

.center {
    display: flex;
    min-height: 100vh;
}

.left {
    width: 50vw;
    position: relative;
}

.right {
    width: 50vw;
}

.right img {
    float:right;
    margin-right: 285px;
}

.show-pokedex {
    height: auto;
    width: auto;
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    background: #FFFAFA;
    color: #222224;

    border-radius: 20px;
    padding: 0 40px;

    margin-top: -55px;
    margin-left: 30px;
}

table {
    text-align: center;
    padding-bottom: 10px;
}

th {
    padding: 1rem 2rem;
    
    letter-spacing: 0.1rem;
    text-transform: uppercase;

    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1rem;
}

.edit {
    color: #297383;
    border-radius: 6px;
}

.delete {
    color: var(--secondary-color);
    margin-left: -20px;
}

@media only screen and (max-width: 768px) {
    .show-pokedex {
        width: auto;
        height: 520px;
        min-width: 380px;

        margin-left: 180px;
        margin-right: 50px;
        display: flex;
    }

    th {
        padding: 16px 14px;
    }

    .edit {
        font-size: 1rem;
        margin-left: -40px;
    }

    .delete {
        font-size: 1rem;
        margin-left: -40px;
    }
}

@media only screen and (max-width: 600px) {
    .show-pokedex {
        width: 350px;
        height: 520px;

        margin-left: 150px;
        padding: 0 15px;
        display: flex;
    }

    th {
        padding: 16px 14px;
    }

    .edit {
        font-size: 0.9rem;
        margin-left: -40px;
    }

    .delete {
        font-size: 0.9rem;
        margin-left: -40px;
    }
}

@media only screen and (max-width: 450px) {
    .show-pokedex {
        width: 240px;
        height: 520px;
        
        margin-left: 92px;
        min-width: 340px;
        margin-top: -170px;
        
        font-size: 0.9rem;
        padding: 0 1px;
        display: flex;
    }

    th {
        padding: 16px 14px;
    }

    .edit {
        font-size: 0.8rem;
        margin-left: -60px;
    }

    .delete {
        font-size: 0.8rem;
        margin-left: -60px;
    }
}